.support__title {
  text-align: center;
  color: #221f1f;
  font-weight: bold; }

.support__desk {
  text-align: center;
  color: #0364ad;
  font-size: 1.2em; }

.support__contact {
  text-align: center;
  color: #221f1f;
  font-weight: bold; }
